body {
    font-family: 'Delius Unicase', cursive;
    background-image: url(../images/stone.jpg);
    background-size: cover;
}

.container {
    margin: 0 auto;
}

.jumbotron {
    background-image: url(../images/rpd.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 280px;
    margin-top: 32px;
}

body {
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0;
  }
  .title {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    
  }
  .title span {
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(../images/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 40s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
 .card-deck {
     color: black;
     text-align: center;
     padding-left: 0px;
     padding-right: 0px;
     margin-left: 0px;
     margin-right: 0px;
     min-height: 200px;
 }

 .card-text {
    padding: 0px;
 }

 .chat {
     margin-top: 32px;
     color: black;
     text-align: left;
     min-height: 326px;  
 }

 .chatInput {
     margin-bottom: 20px;
 }

#p1 {
    margin-left: 0px;
}

#p2 {
    margin-right: 0px;
}

 .row {
     padding-left: 0px;
     padding-right: 0px;
     margin-left: 0px;
     margin-right: 0px;
 }